* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #002841;
  scroll-behavior: smooth;
}

header {
  height: 60px;
  width: 100%;
  box-shadow: 5px -10px 30px #000;
  background-color: #f3f3f3;
  border-radius: 0px 0px 20px 20px;
  position: fixed;
  top: 0;
}

header nav ul {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  width: 200px;
  text-align: center;
}

.btn-p {
  background-color: red;
  color: white;
  border-radius: 10px;
  text-decoration: dashed;
}
.btn-p:hover {
  color: black;
  transition: 0.3s;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  display: flex;
  width: 200px;
  justify-content: center;
}
main{
  margin-top: 60px;
}
h2 {
  color: #3C8F5D;
  font-size: 40px;
  height: 60px;
  display: flex;
  align-items: center;
}
#mapa{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 450px;
  background-color: #002841;
  font-size: 20px;
}
#inicio-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  min-height: 300px;
  max-height: 100%;
}
.inicio-text{
  max-width: 1100px;
  margin: 30px;
  text-align: center;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.alunos, .professores{
  color: #f4f4f4;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 40px 0px;
}
.list-links li a, .list-links li{
  color: #f4f4f4;
  width: 100%;
}
.list-links{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nosso-projeto {
  background-color: #f4f4f4;
  min-height: 700px;
  padding: 2%;
  font-size: 20px;
}
#nosso-projeto article h2{
  color: #002841;
}
.line {
  padding: 1px 30px;
  background-color: #002841;
  margin-top: 15px;
  width: 95%;
}
.nosso-projeto-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 450;
}
.nosso-projeto-2{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 450;
}
.nosso-projeto-texto1{
  max-width: 820px;
  text-align: justify;
}
.nosso-projeto-texto2{
  max-width: 400px;
  text-align: justify;
}
.nosso-projeto-imagem1{
  background-image: url('../images/garoto-notebook.png');
  width: 307.5px;
  height: 254.25px;
  background-size: cover;
  margin: 20px;
}
.nosso-projeto-imagem2{
  background-image: url('../images/calculadora.jpg');
  width: 150px;
  height: 150px;
  background-size: cover;
}
.nosso-projeto-imagem3{
  
  background-image: url('../images/atomo.png');
  width: 200px;
  height: 200px;
  background-size: cover;
}
#polos h2{
  height: 100%;
  margin: 20px;
  text-align: center;
}
.container-polos{
  display: flex;
  flex-wrap: wrap;
  min-height: 450px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.card-polos{
  background-color: #45B26F;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin: 20px;
}
.titulo-card-polos{
  display: flex;
  align-items: center;
  height: 180px;
  font-size: 30px;
  font-weight: bold;
}
.polos-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto-polos{
  display: flex;
  max-width: 80%;
  text-align: justify;
  font-size: 25px;
}
#professores {
  background-color: #002841;
  padding: 5px;
}
.line-green {
  padding: 1px 30px;
  background-color: #98ffa8;
  margin-top: 15px;
  width: 95%;
}
.w {
  color: white;
}

@media(max-width: 1100px){
  #bonequinho-container{
    display: none;
  }
  #logos img{
    height: 60px;
  }
}
@media(max-width: 700px){
  #chats img{
    height: 50px;
  }
  #logos img{
    height: 50px;
  }
  .card-polos{
    width: 260px;
    height: 260px;
    font-size: 19px;
    margin: 10% 0px;
  }
  .titulo-card-polos{
    height: 100px;
  }
  .links{
    align-items: center;
    flex-direction: column;
  }
}

.item{
  width: 600px;
}

.titulo-green{
  color: #98ffa8;
  font-size: 40px;
}
.cont-professores{
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
 margin-top: 30px;
}
.cont-professores img{
  margin-left: 30%;
}

.prof-content{
  justify-content: center;
  align-items: center;
}
.item-left{
  color: white;
  margin: 30px;
  width: 500px;
}
.btn-p-main{
  padding: 10px;
  margin-left: 30px;
  background-color: red;
  color:  white;
  text-decoration: dashed;
  border-radius: 20px 20px 0 20px;

}
/* Parte do quem somos */
#quemsomos{
  background-color: white;
  margin-top: 30px;
}

.blue{
  color: #002841;
}
.item p{
  margin: 30px;
}
.image-logo{
  margin: 30px;
}
/* mentores */
.mentores{
  margin: 30px;
}
/* nossa cara */
.sobrenos{
  display: flex;
}
.sobrenos img{
  height: 300px;
}