* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #f4f4f4;
}

/*#upper-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 700px;
  background-color: #45b26f;
}

#upper-header article {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#chats {
  display: flex;
  width: 100%;
  height: 100%;
}
#chats img{
  height: 70px;
}
#left-chat,
#right-chat {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  width: 372px;
  height: 100%;
}

#right-chat {
  margin-top: 100px;
}

.user-img {
  margin: 60px 10px 0 0;
}

#logos {
  height: 90px;
}
.baloes-left-chat,
.baloes-right-chat {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.balao-left img,
.balao-right img {
  min-height: 70px;
}
#bonequinho-container{
  display: flex;
  align-items: flex-end;
  height: 580px;
  margin-left: 40px;
}
#bonequinho{
  background-image: url(../images/bonequinho.png);
  background-size: cover;
  width: 387px;
  height: 327px;
  align-items: flex-end;
}*/

header {
  height: 60px;
  width: 100%;
  box-shadow: 5px -10px 30px #000;
  background-color: #f3f3f3;
  border-radius: 0px 0px 20px 20px;
  position: fixed;
  top: 0;
}

header nav ul {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  width: 200px;
  text-align: center;
}

.btn-p {
  background-color: red;
  color: white;
  border-radius: 10px;
  text-decoration: dashed;
}
.btn-p:hover {
  color: black;
  transition: 0.3s;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  display: flex;
  width: 200px;
  justify-content: center;
}
main{
  margin-top: 60px;
}
h2 {
  color: #3C8F5D;
  font-size: 40px;
  height: 60px;
  display: flex;
  align-items: center;
}
#inicio{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 450px;
}
#inicio-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  min-height: 300px;
  max-height: 100%;
}
.inicio-text{
  max-width: 1100px;
  margin: 30px;
  text-align: center;
}
.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 200px;
}
.alunos, .professores{
  color: #f4f4f4;
  text-align: center;
}
.list-links li a {
  color: #f4f4f4;
}
.nosso {
  background-color: #f4f4f4;
  min-height: 800px;
  margin: 50px;
}
.nosso article h2{
  color: #002841;
}
.line {
  padding: 1px 30px;
  background-color: #002841;
  margin-top: 15px;
  width: 95%;
}
.nosso-projeto-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: 450;
}
.nosso-projeto-texto1{
  max-width: 900px;
}
.nosso-projeto-imagem1{
  background-image: url('../images/nosso-projeto-imagem1.png');
  width: 410px;
  height: 339px;
  background-size: cover;
}
.flex-l,
.flex-r {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-l p {
  width: 60%;
}
.flex-r {
  width: 100%;
}
.item {
  width: 400px;
  margin: 0 5% 0 5%;
  margin-bottom: 20px;
}
.prof {
  background-color: #002841;
  padding: 5px;
}
.line-green {
  padding: 1px 30px;
  background-color: #98ffa8;
  margin-top: 15px;
  width: 95%;
}
.w {
  color: white;
}

@media(max-width: 1100px){
  #bonequinho-container{
    display: none;
  }
  #logos img{
    height: 60px;
  }
}
@media(max-width: 700px){
  #chats img{
    height: 50px;
  }
  #logos img{
    height: 50px;
  }
}